<template>
  <div class="contents">
    <ul class="data-list padding-layout">
      <li v-for="(unit, idx) in unitList" :key="idx">
        <div class="data-list__box">
          <span class="data-list__name">{{ unit.unit_name }} </span>
          <span @click="detailControl(unit.unit_controller_id, unit.unit_id)"
            ><i class="el-icon-time"></i> 시간설정</span
          >
        </div>
        <div class="data-list__state">
          <el-select
            v-model="unit.unit_operation_type"
            @change="chgUnitStatus(unit.unit_controller_id, unit.unit_id, unit.unit_operation_type)"
          >
            <el-option :label="'수동'" :value="0" @click="unit.unit_operation_type = 0"></el-option>
            <el-option :label="'자동'" :value="1" @click="unit.unit_operation_type = 1"></el-option>
            <el-option :label="'원격'" :value="2" @click="unit.unit_operation_type = 2"></el-option>
          </el-select>
        </div>
        <div
          class="data-list__state"
          v-if="group_id == 1 && unit.unit_operation_type === 2 && unit.group_auto_status != 0"
        >
          <el-button
            type="danger"
            :class="{ 'is-active': unit.unit_current_state === 2 }"
            @click="
              unit.unit_current_state = 2;
              chgUnitCurrentStatus(unit.unit_controller_id, unit.unit_id, unit.unit_current_state);
            "
            :active-value="2"
            >닫힘</el-button
          >
          <el-button
            type="warning"
            :class="{ 'is-active': unit.unit_current_state === 0 }"
            @click="
              unit.unit_current_state = 0;
              chgUnitCurrentStatus(unit.unit_controller_id, unit.unit_id, unit.unit_current_state);
            "
            :active-value="0"
            >중지</el-button
          >
          <el-button
            type="primary"
            :class="{ 'is-active': unit.unit_current_state === 1 }"
            @click="
              unit.unit_current_state = 1;
              chgUnitCurrentStatus(unit.unit_controller_id, unit.unit_id, unit.unit_current_state);
            "
            :active-value="1"
            >열림</el-button
          >
        </div>
        <div
          class="data-list__state"
          v-else-if="unit.unit_operation_type === 2 && unit.group_auto_status != 0"
        >
          OFF<el-switch
            v-model="unit.unit_current_state"
            :active-value="1"
            :inactive-value="0"
            @change="
              chgUnitCurrentStatus(unit.unit_controller_id, unit.unit_id, unit.unit_current_state)
            "
          />ON
        </div>
      </li>
    </ul>

    <!-- 시간설정 -->
    <el-dialog title="시간설정" :visible.sync="timeSetVisible" width="90%">
      <el-button type="primary" class="control-add__button" @click="timerAddReset">
        추가
      </el-button>
      <table class="option-timer__table">
        <thead>
          <tr>
            <th>시작시간</th>
            <th>종료시간</th>
            <th>관리</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(time, index) in unitTimerList" :key="index">
            <td>{{ time.star_time }}</td>
            <td>{{ time.end_time }}</td>
            <td>
              <el-button type="danger" @click="delete_timer(time.star_time, time.end_time)"
                >삭제</el-button
              >
            </td>
          </tr>
        </tbody>
      </table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="timeSetVisible = false">확인</el-button>
      </span>
    </el-dialog>

    <!-- 세부제어 추가 dialog-->
    <el-dialog title="타이머 추가" :visible.sync="timerAddVisible" width="90%">
      <table class="option-timer__table">
        <thead>
          <tr>
            <th>시작시간</th>
            <th>종료시간</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="timerset-td__style">
                <el-input
                  v-model="startTimeHour"
                  placeholder="시작 시간"
                  clearable
                  :maxlength="2"
                  @input="handleStartTimeInput"
                />
                <span>:</span>
                <el-input
                  v-model="startTimeMinute"
                  placeholder="시작 분"
                  clearable
                  :maxlength="2"
                  @input="handleStartTimeInput"
                />
              </div>
            </td>
            <td>
              <div class="timerset-td__style">
                <el-input
                  v-model="EndTimeHour"
                  placeholder="종료 시간"
                  clearable
                  :maxlength="2"
                  @input="handleEndTimeInput"
                />
                <span>:</span>
                <el-input
                  v-model="EndTimeMinute"
                  placeholder="종료 분"
                  clearable
                  :maxlength="2"
                  @input="handleEndTimeInput"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="timerAddVisible = false">취소</el-button>
        <el-button type="primary" @click="addtimer()">추가</el-button>
      </span>
    </el-dialog>
    <button class="back-button" @click="backindex"><i class="el-icon-arrow-left"></i></button>
  </div>
</template>

<script>
import router from "@/router";
import { RouterLink } from "vue-router";

const axios = require("axios").default;
export default {
  name: "ControlDetail",
  components: {
    axios,
    router,
    RouterLink,
  },
  data() {
    return {
      select_machine_id: this.$route.params.select_machine_id,
      controller_id: this.$route.params.controller_id,
      group_id: this.$route.params.unit_group_id ? this.$route.params.unit_group_id : 0,
      controlDetail1: false,
      controlDetail1_1: false,
      timeSetVisible: false,
      timerAddVisible: false,
      startTimeHour: "",
      startTimeMinute: "",
      timeValue: "",
      user_token: this.$cookies.get("user_token"),
      user_id: this.$cookies.get("user_id"),
      unitList_temp: [],
      unitList: [],
      unitGroupList: [],
      temperatureControlVisible: false,
      temperatureControl: false,
      morning: "",
      morning_temperature: 0,
      morning_temperatureControl: "0",
      afternoon: "",
      afternoon_temperature: 0,
      afternoon_temperatureControl: "0",
      EndTimeHour: "",
      EndTimeMinute: "",
      startTime: "",
      endTime: "",
      timeValue: "",
      temperature: "",
      unitTimerList: [],
      unit_id: "",
      hours: Array.from(Array(24).keys()),
      minutes: Array.from(Array(60).keys()),
    };
  },
  created() {
    this.startunitReadInterval();
  },
  beforeDestroy() {
    this.stopunitReadInterval();
    window.removeEventListener("popstate", this.handleBackButton);
  },
  mounted() {
    this.unit_select();
    window.addEventListener("popstate", this.handleBackButton);
  },
  methods: {
    timerAddReset() {
      this.startTimeHour = "";
      this.startTimeMinute = "";
      this.EndTimeHour = "";
      this.EndTimeMinute = "";
      this.timerAddVisible = true;
    },
    handleStartTimeInput() {
      // 입력값이 유효한 범위에 있는지 확인
      if (parseInt(this.startTimeHour) > 23) {
        this.startTimeHour = "23";
      }
      if (parseInt(this.startTimeMinute) > 59) {
        this.startTimeMinute = "59";
      }
      this.startTime = `${this.startTimeHour.padStart(2, "0")}:${this.startTimeMinute.padStart(
        2,
        "0"
      )}`;
    },
    handleEndTimeInput() {
      // 입력값이 유효한 범위에 있는지 확인
      if (parseInt(this.EndTimeHour) > 23) {
        this.EndTimeHour = "23";
      }
      if (parseInt(this.EndTimeMinute) > 59) {
        this.EndTimeMinute = "59";
      }
      this.endTime = `${this.EndTimeHour.padStart(2, "0")}:${this.EndTimeMinute.padStart(2, "0")}`;
    },
    startunitReadInterval() {
      this.unitReadInterval = setInterval(() => {
        this.unitRead();
      }, 3000);
    },
    stopunitReadInterval() {
      clearInterval(this.unitReadInterval);
    },
    unit_select() {
      this.stopunitReadInterval();
      this.startunitReadInterval();
      // 유닛 정보
    },
    unitRead() {
      let controller_data = {
        controller_id: this.controller_id,
      };
      axios
        .post("http://52.79.223.31:8000/unit/unit_data", JSON.stringify(controller_data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          this.unitList_temp = res.data;
          let reduceObj = this.unitList_temp.reduce(function (acc, obj) {
            var key = obj["unit_group"];
            if (!acc[key]) {
              acc[key] = [];
            }
            acc[key].push(obj);
            return acc;
          }, {});
          this.unitList = reduceObj[this.group_id];
        })
        .catch((err) => console.error(err));
    },
    chgUnitStatus(id, unit_id, val) {
      let data = {
        unit_controller_id: id,
        unit_id: unit_id,
        unit_operation_type: val,
      };
      axios
        .post("http://52.79.223.31:8000/unit/unit_change_auto_status", JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          console.log(res.data[0].result);
          if (res.data[0].result == "1") {
            console.log("성공");
          } else {
            console.log("실패");
          }
        })
        .catch((err) => console.error(err));
    },
    chgUnitCurrentStatus(id, unit_id, val) {
      let data = {
        unit_controller_id: id,
        unit_id: unit_id,
        unit_operation_type: val,
      };
      axios
        .post("http://52.79.223.31:8000/unit/unit_change_current_status", JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          console.log(res.data[0].result);
          if (res.data[0].result == "1") {
            console.log("성공");
          } else {
            console.log("실패");
          }
        })
        .catch((err) => console.error(err));
    },

    detailControl(controller_id, unit_id) {
      this.unit_id = unit_id;
      axios
        .post("http://52.79.223.31:8000/unit/read_device_timer", {
          controller_id_in: controller_id,
          unit_id_in: unit_id,
        })
        .then((res) => {
          this.unitTimerList = res.data;
        })
        .catch((err) => console.error(err));
      this.timeSetVisible = true;
    },

    addtimer() {
      console.log(this.startTime, this.endTime);
      axios
        .post("http://52.79.223.31:8000/unit/update_device_timer", {
          controller_id_in: this.controller_id,
          unit_id_in: this.unit_id.toString(),
          time1_in: this.startTime.toString(),
          time2_in: this.endTime.toString(),
          status: 1,
        })
        .then((res) => {
          if (res.data[0].result == "success") {
            alert("추가되었습니다");
            this.timerAddVisible = false;
            this.timeSetVisible = false;
          } else {
            alert("다시 시도해주세요");
            this.timerAddVisible = false;
            this.timeSetVisible = false;
          }
        })
        .catch((err) => alert("00:00 과 같이 입력해주세요"));
    },

    delete_timer(start, end) {
      this.$confirm("타이머를 삭제하시겠습니까?", "타이머삭제", {
        confirmButtonText: "삭제",
        cancelButtonText: "취소",
        type: "warning",
      })
        .then(() => {
          console.log(this.controller_id, this.unit_id, start, end);
          axios
            .post("http://52.79.223.31:8000/unit/update_device_timer", {
              controller_id_in: this.controller_id,
              unit_id_in: this.unit_id.toString(),
              time1_in: start.toString(),
              time2_in: end.toString(),
              status: 0,
            })
            .then((res) => {
              alert("삭제되었습니다.");
              this.timeSetVisible = false;
              // 삭제 후에 타이머 리스트를 다시 불러올 수 있도록 작업해주세요.
            })
            .catch((err) => console.error(err));
        })
        .catch(() => {
          // 취소 버튼을 눌렀을 때의 동작을 정의해주세요.
        });
    },
    handleBackButton(event) {
      if (event.type === "popstate") {
        // 휴대폰 백 버튼이 눌렸을 때 처리할 로직을 작성합니다.
        this.backindex();
      }
    },
    backindex() {
      this.$router.push({
        name: "index",
        params: {
          select_machine_id: this.select_machine_id,
        },
      });
    },
  },
};
</script>

<style></style>
