<template>
  <div class="contents">
    <ul class="data-list padding-layout">
      <li v-for="machine in machineList">
        <span class="data-list__name">{{ machine.machine_name }}</span>
        <el-switch v-model="machine.machine_status" :active-value="1" :inactive-value="0" @change="chgMachineStatus(machine.machine_id,machine.machine_status)"/>
      </li> 
      <!-- <li>
        <span class="data-list__name">드림팜 큐브 B</span>
        <el-switch v-model="cube2" />
      </li>
      <li>
        <span class="data-list__name">큐브 103456A</span>
        <el-switch v-model="cube3" />
      </li>
      <li>
        <span class="data-list__name">ADDVS 큐브 - hub</span>
        <el-switch v-model="cube4" />
      </li>
      <li>
        <span class="data-list__name">Sdaod-qed123</span>
        <el-switch v-model="cube5" />
      </li>
      <li>
        <span class="data-list__name">Dkdklf-30559</span>
        <el-switch v-model="cube6" />
      </li> -->
    </ul>
  </div>
</template>

<script>
const axios = require('axios').default;
export default {
  name: 'ControlDetail',
  components: {
    axios
  },
  data() {
    return {
      cube1:false,
      cube2:false,
      cube3:false,
      cube4:false,
      cube5:false,
      cube6:false,
      machineList:[],
      user_token: this.$cookies.get("user_token"),
      user_id: this.$cookies.get("user_id")
    }
  },
  mounted(){
    let data = {
      user_token:this.user_token,
      user_id:this.user_id
    }

    axios.post('http://52.79.223.31:8000/machine/list',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        }})
      .then((res) => { 
          this.machineList = res.data
      })
      .catch(err => console.error(err))
  },
  methods: {
    chgMachineStatus(id, val){
      let data = {
        user_token:this.user_token,
        machine_id:id,
        machine_status:val,
      }

      axios
      .post('http://52.79.223.31:8000/machine/change_status',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      .then((res) =>{
        if(res.data[0].result == '1'){
          this.$message({
            message: '변경되었습니다.',
            type: 'success'
          });
        }else{
          this.$message.error('새로고침 후 다시 시도해주세요.');
        }
      })
      .catch(err => console.error(err))
    },
  }
};
</script>

<style>
</style>