<template>
  <div class="contents">
    <div class="control-title__box bg-none">
      <span class="control-status">현재</span>
      <el-select
        v-model="machine_id"
        placeholder="큐브를 선택해주세요."
        class="cube-select"
        @change="machine_select()"
      >
        <el-option
          v-for="machine in machineList"
          :key="machine.machine_id"
          :label="machine.machine_name"
          :value="machine.machine_id"
        >
        </el-option>
      </el-select>
    </div>
    <el-tabs class="data-tab" @tab-click="changeData">
      <el-tab-pane label="temp">
        <span slot="label">
          <img src="@/assets/svg/data-ico1.svg" />
          <img src="@/assets/svg/data-ico_ov1.svg" />
          온도
        </span>
        <div>
          <apexchart
            type="radialBar"
            id="temp"
            ref="temp"
            height="300"
            :options="chartOptions"
            :series="series"
          ></apexchart>
          <div class="chart-content">
            <p class="chart-title"><img src="@/assets/svg/data-ico1.svg" />온도</p>
            <p class="chart-value">{{ value }} <span class="data-type">℃</span></p>
          </div>
          <router-link :to="{ name: 'DataDetail' }" class="more-button">한눈에 보기</router-link>
        </div>
      </el-tab-pane>
      <el-tab-pane label="humidity">
        <span slot="label">
          <img src="@/assets/svg/data-ico2.svg" />
          <img src="@/assets/svg/data-ico_ov2.svg" />
          습도
        </span>
        <div>
          <apexchart
            type="radialBar"
            id="humidity"
            height="300"
            :options="chartOptions"
            :series="series"
          ></apexchart>
          <div class="chart-content">
            <p class="chart-title"><img src="@/assets/svg/data-ico2.svg" />습도</p>
            <p class="chart-value">{{ value }} <span class="data-type">℃</span></p>
          </div>
          <router-link :to="{ name: 'DataDetail' }" class="more-button">한눈에 보기</router-link>
        </div>
      </el-tab-pane>
      <el-tab-pane label="co2">
        <span slot="label">
          <img src="@/assets/svg/data-ico3.svg" />
          <img src="@/assets/svg/data-ico_ov3.svg" />
          이산화탄소
        </span>
        <div>
          <apexchart
            type="radialBar"
            id="co2"
            height="300"
            :options="chartOptions"
            :series="series"
          ></apexchart>
          <div class="chart-content">
            <p class="chart-title"><img src="@/assets/svg/data-ico3.svg" />이산화탄소</p>
            <p class="chart-value">{{ value }} <span class="data-type">%</span></p>
          </div>
          <router-link :to="{ name: 'DataDetail' }" class="more-button">한눈에 보기</router-link>
        </div>
      </el-tab-pane>
      <el-tab-pane label="lux">
        <span slot="label">
          <img src="@/assets/svg/data-ico4.svg" />
          <img src="@/assets/svg/data-ico_ov4.svg" />
          조도
        </span>
        <div>
          <apexchart
            type="radialBar"
            id="lux"
            height="300"
            :options="chartOptions"
            :series="series"
          ></apexchart>
          <div class="chart-content">
            <p class="chart-title"><img src="@/assets/svg/data-ico4.svg" />조도</p>
            <p class="chart-value">{{ value }} <span class="data-type">Lux</span></p>
          </div>
          <router-link :to="{ name: 'DataDetail' }" class="more-button">한눈에 보기</router-link>
        </div>
      </el-tab-pane>
      <el-tab-pane label="ph">
        <span slot="label">
          <img src="@/assets/svg/data-ico5.svg" />
          <img src="@/assets/svg/data-ico_ov5.svg" />
          PH농도
        </span>
        <div>
          <apexchart
            type="radialBar"
            id="ph"
            height="300"
            :options="chartOptions"
            :series="series"
          ></apexchart>
          <div class="chart-content">
            <p class="chart-title"><img src="@/assets/svg/data-ico5.svg" />PH농도</p>
            <p class="chart-value">{{ value }}</p>
          </div>
          <router-link :to="{ name: 'DataDetail' }" class="more-button">한눈에 보기</router-link>
        </div>
      </el-tab-pane>
      <el-tab-pane label="ec">
        <span slot="label">
          <img src="@/assets/svg/data-ico6.svg" />
          <img src="@/assets/svg/data-ico_ov6.svg" />
          전도도
        </span>
        <div>
          <apexchart
            type="radialBar"
            id="ec"
            height="300"
            :options="chartOptions"
            :series="series"
          ></apexchart>
          <div class="chart-content">
            <p class="chart-title"><img src="@/assets/svg/data-ico6.svg" />전해질</p>
            <p class="chart-value">{{ value }} <span class="data-type">mS/cm</span></p>
          </div>
          <router-link :to="{ name: 'DataDetail' }" class="more-button">한눈에 보기</router-link>
        </div>
      </el-tab-pane>
      <el-tab-pane label="et">
        <span slot="label">
          <img src="@/assets/svg/data-ico6.svg" />
          <img src="@/assets/svg/data-ico_ov6.svg" />
          토양온도
        </span>
        <div>
          <apexchart
            type="radialBar"
            id="et"
            height="300"
            :options="chartOptions"
            :series="series"
          ></apexchart>
          <div class="chart-content">
            <p class="chart-title"><img src="@/assets/svg/data-ico6.svg" />배지온도</p>
            <p class="chart-value">{{ value }} <span class="data-type">℃</span></p>
          </div>
          <router-link :to="{ name: 'DataDetail' }" class="more-button">한눈에 보기</router-link>
        </div>
      </el-tab-pane>
      <el-tab-pane label="eh">
        <span slot="label">
          <img src="@/assets/svg/data-ico6.svg" />
          <img src="@/assets/svg/data-ico_ov6.svg" />
          토양습도
        </span>
        <div>
          <apexchart
            type="radialBar"
            id="eh"
            height="300"
            :options="chartOptions"
            :series="series"
          ></apexchart>
          <div class="chart-content">
            <p class="chart-title"><img src="@/assets/svg/data-ico6.svg" />배지수분</p>
            <p class="chart-value">{{ value }} <span class="data-type">%</span></p>
          </div>
          <router-link :to="{ name: 'DataDetail' }" class="more-button">한눈에 보기</router-link>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
const axios = require("axios").default;
import VueApexCharts from "vue-apexcharts";
export default {
  name: "Data",
  components: {
    axios,
    apexchart: VueApexCharts,
  },
  data() {
    return {
      options: [
        { value: "드림팜 큐브A", label: "드림팜 큐브A" },
        { value: "드림팜 큐브B", label: "드림팜 큐브B" },
      ],
      value: 0,
      series: [0],
      chartOptions: {
        chart: {
          height: 300,
          type: "radialBar",
          offsetY: -10,
        },
        plotOptions: {
          radialBar: {
            startAngle: -135,
            endAngle: 135,
            dataLabels: {
              name: {
                fontSize: "16px",
                color: undefined,
                offsetY: 120,
              },
              value: {
                offsetY: 76,
                fontSize: "22px",
                color: undefined,
                formatter: function (val) {
                  // return val + "℃";
                },
              },
            },
          },
        },
        fill: {
          type: "gradient",
          gradient: {
            shade: "dark",
            shadeIntensity: 0.15,
            inverseColors: false,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 50, 65, 91],
          },
        },
        stroke: {
          dashArray: 4,
        },
        labels: [""],
      },
      machine_id: "",
      machine_status: "",
      controller_id: "",
      sensor_type: "temp", // temp || humidity || co2 || lux || ph || ec
      show_type: "part", // part or all
      machineList: [],
      user_token: this.$cookies.get("user_token"),
      user_id: this.$cookies.get("user_id"),
    };
  },
  mounted() {
    // machine data list  || start
    let data = {
      user_token: this.user_token,
      user_id: this.user_id,
    };

    axios
      .get("http://52.79.223.31:8000/machine/list", JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      .then((res) => {
        this.machineList = res.data;
      })
      .catch((err) => console.error(err));
    //machine data list   || end
  },
  methods: {
    machine_select() {
      let machine_data = {
        user_token: this.user_token,
        machine_id: this.machine_id,
      };

      let controller_data = {
        controller_id: this.controller_id,
      };

      let sensor_data = {
        controller_id: this.controller_id,
        sensor_type: this.sensor_type,
        show_type: this.show_type,
      };

      // controller - unit, sensor data   || start
      axios
        .post("http://52.79.223.31:8000/machine/info", JSON.stringify(machine_data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          this.controller_id = res.data[0].machine_pairing;
          controller_data.controller_id = res.data[0].machine_pairing;
          sensor_data.controller_id = res.data[0].machine_pairing;

          this.machine_status = res.data[0].machine_status;

          // 센서 정보 (온도 / 주)
          axios
            .post(
              "http://52.79.223.31:8000/controller/sensor_data_app",
              JSON.stringify(sensor_data),
              {
                headers: {
                  "Content-Type": `application/json`,
                },
              }
            )
            .then((res) => {
              //console.log(res.data[0].sensor)
              this.series[0] = res.data[0].sensor;
              this.$refs[this.sensor_type].updateSeries(this.series);
              this.value = res.data[0].sensor;
            })
            .catch((err) => console.error(err));
        })
        .catch((err) => console.error(err));

      // controller - unit, sensor data  || end
    },

    changeData(tab, event) {
      let data = {
        controller_id: this.controller_id,
        sensor_type: tab.label ? tab.label : this.sensor_type,
        show_type: this.show_type,
      };

      this.sensor_type = tab.label;

      // 센서 정보 (온도 / 주)
      axios
        .post("http://52.79.223.31:8000/controller/sensor_data_app", JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          this.series[0] = res.data[0].sensor;
          this.value = res.data[0].sensor;
        })
        .catch((err) => console.error(err));
    },
  },
};
</script>
