<template>
  <div class="contents">
    <div class="control-title__box bg-none">
      <span class="control-status">현재</span>
      <el-select
        v-model="machine_id"
        placeholder="큐브를 선택해주세요."
        class="cube-select"
        @change="machine_select(machine_id)"
      >
        <el-option
          v-for="machine in machineList"
          :key="machine.machine_id"
          :label="machine.machine_name"
          :value="machine.machine_id"
        >
        </el-option>
      </el-select>
    </div>
    <el-tabs class="data-tab" @tab-click="changeData">
      <el-tab-pane label="temp">
        <span slot="label">
          <img src="@/assets/svg/data-ico1.svg" />
          <img src="@/assets/svg/data-ico_ov1.svg" />
          온도
        </span>
        <div>
          <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
        </div>
      </el-tab-pane>
      <el-tab-pane label="humidity">
        <span slot="label">
          <img src="@/assets/svg/data-ico2.svg" />
          <img src="@/assets/svg/data-ico_ov2.svg" />
          습도
        </span>
        <div>
          <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
        </div>
      </el-tab-pane>
      <el-tab-pane label="co2">
        <span slot="label">
          <img src="@/assets/svg/data-ico3.svg" />
          <img src="@/assets/svg/data-ico_ov3.svg" />
          이산화탄소
        </span>
        <div>
          <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
        </div>
      </el-tab-pane>
      <el-tab-pane label="lux">
        <span slot="label">
          <img src="@/assets/svg/data-ico4.svg" />
          <img src="@/assets/svg/data-ico_ov4.svg" />
          조도
        </span>
        <div>
          <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
        </div>
      </el-tab-pane>
      <el-tab-pane label="ph">
        <span slot="label">
          <img src="@/assets/svg/data-ico5.svg" />
          <img src="@/assets/svg/data-ico_ov5.svg" />
          PH농도
        </span>
        <div>
          <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
        </div>
      </el-tab-pane>
      <el-tab-pane label="ec">
        <span slot="label">
          <img src="@/assets/svg/data-ico6.svg" />
          <img src="@/assets/svg/data-ico_ov6.svg" />
          전해질
        </span>
        <div>
          <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
        </div>
      </el-tab-pane>
      <el-tab-pane label="et">
        <span slot="label">
          <img src="@/assets/svg/data-ico6.svg" />
          <img src="@/assets/svg/data-ico_ov6.svg" />
          배지온도
        </span>
        <div>
          <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
        </div>
      </el-tab-pane>
      <el-tab-pane label="eh">
        <span slot="label">
          <img src="@/assets/svg/data-ico6.svg" />
          <img src="@/assets/svg/data-ico_ov6.svg" />
          배지수분
        </span>
        <div>
          <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
        </div>
      </el-tab-pane>
    </el-tabs>
    <button @click="DetailData" class="more-button">한눈에 보기</button>
  </div>
</template>

<script>
const axios = require("axios").default;
import VueApexCharts from "vue-apexcharts";
export default {
  name: "Data",
  components: {
    axios,
    apexchart: VueApexCharts,
  },
  data() {
    return {
      regdata: [],
      options: [
        { value: "드림팜 큐브A", label: "드림팜 큐브A" },
        { value: "드림팜 큐브B", label: "드림팜 큐브B" },
      ],
      value: [],
      series: [],
      chartOptions: {
        chart: {
          height: 350,
          type: "line",
          zoom: {
            enabled: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "straight",
        },
        title: {
          text: "Product Trends by Month",
          align: "left",
        },
        grid: {
          row: {
            colors: ["#f3f3f3", "transparent"],
            opacity: 0.5,
          },
        },
        xaxis: {
          categories: "",
        },
        series: [],
      },
      machineData: "",
      machine_id: "",
      machine_status: "",
      controller_id: "",
      sensor_type: "", // temp || humidity || co2 || lux || ph || ec
      machineList: [],
      user_token: this.$cookies.get("user_token"),
      user_id: this.$cookies.get("user_id"),
      categorie: "",
      select_machine_id: this.$route.params.select_machine_id,
    };
  },
  mounted() {
    // machine data list  || start
    let data = {
      user_id: this.user_id,
    };

    // machineList 배열 초기화
    this.machineList = [];

    axios
      .post("http://52.79.223.31:8000/machine/list", JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      .then((res) => {
        this.machineList = res.data;

        if (this.select_machine_id) {
          this.machine_select_restart();
        }
      })
      .catch((err) => console.error(err));
    // machine data list   || end
  },
  methods: {
    machine_select(machineId) {
      let machine_data = {
        machine_id: machineId,
      };

      let controller_data = {
        controller_id: this.controller_id,
      };

      let sensor_data = {
        controller_id: this.controller_id,
        sensor_type: this.sensor_type,
      };

      // controller - unit, sensor data   || start
      axios
        .post("http://52.79.223.31:8000/machine/info", JSON.stringify(machine_data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          this.machineData = res.data[0];
          this.controller_id = this.machineData.machine_pairing;
          this.select_machine_id = machineId;
          controller_data.controller_id = this.machineData.machine_pairing;
          sensor_data.controller_id = this.machineData.machine_pairing;
          this.machine_status = this.machineData.machine_status;
          // 센서 정보 (온도 / 주)
          axios
            .post("http://52.79.223.31:8000/controller/sensor_graph", JSON.stringify(sensor_data), {
              headers: {
                "Content-Type": `application/json`,
              },
            })
            .then((res) => {
              this.series = [
                {
                  name: this.sensor_type,
                  data: res.data.map((item) => item.sensor),
                },
              ];
              const categories = res.data.map((item) => item.reg_time);
              this.chartOptions = {
                ...this.chartOptions,
                xaxis: {
                  ...this.chartOptions.xaxis,
                  categories: categories,
                },
                series: this.series,
              };
            })
            .catch((err) => console.error(err));
        })
        .catch((err) => console.error(err));
      // controller - unit, sensor data  || end
    },
    machine_select_restart() {
      let machine_data = {
        machine_id: this.select_machine_id,
      };

      let controller_data = {
        controller_id: this.controller_id,
      };

      let sensor_data = {
        controller_id: this.controller_id,
        sensor_type: this.sensor_type,
      };

      // controller - unit, sensor data   || start
      axios
        .post("http://52.79.223.31:8000/machine/info", JSON.stringify(machine_data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          this.controller_id = res.data[0].machine_pairing;
          this.machine_id = this.select_machine_id;
          controller_data.controller_id = res.data[0].machine_pairing;
          sensor_data.controller_id = res.data[0].machine_pairing;
          this.machine_status = res.data[0].machine_status;
          // 센서 정보 (온도 / 주)
          axios
            .post("http://52.79.223.31:8000/controller/sensor_graph", JSON.stringify(sensor_data), {
              headers: {
                "Content-Type": `application/json`,
              },
            })
            .then((res) => {
              this.series = [
                {
                  name: this.sensor_type,
                  data: res.data.map((item) => item.sensor),
                },
              ];
              const categories = res.data.map((item) => item.reg_time);
              this.chartOptions = {
                ...this.chartOptions,
                xaxis: {
                  ...this.chartOptions.xaxis,
                  categories: categories,
                },
                series: this.series,
              };
            })
            .catch((err) => console.error(err));
        })
        .catch((err) => console.error(err));
      // controller - unit, sensor data  || end
    },

    changeData(tab) {
      let data = {
        controller_id: this.controller_id,
        sensor_type: tab.label ? tab.label : this.sensor_type,
      };

      this.sensor_type = tab.label;

      // 센서 정보 (온도 / 주)
      axios
        .post("http://52.79.223.31:8000/controller/sensor_graph", JSON.stringify(data), {
          headers: {
            "Content-Type": "application/json",
          },
        })
        .then((res) => {
          this.series = [
            {
              name: this.sensor_type,
              data: res.data.map((item) => item.sensor),
            },
          ];
          const categories = res.data.map((item) => item.reg_time);
          this.chartOptions = {
            ...this.chartOptions,
            xaxis: {
              ...this.chartOptions.xaxis,
              categories: categories,
            },
            series: this.series,
          };
        })
        .catch((err) => console.error(err));
    },
    DetailData() {
      this.$router.push({
        name: "DataDetail",
        params: { select_machine_id: this.select_machine_id },
      });
    },
  },
};
</script>
