<template>
  <div class="contents">
    <div class="control-title__box bg-none">
      <span class="control-status">현재</span>
      <p class="cube-select">{{ machine_name }}</p>
    </div>
    <ul class="data-detail__list">
      <li>
        <div class="data-detail__content">
          <span class="data-detail__label">
            <img src="@/assets/svg/data-ico1.svg" />
            온도
          </span>
          <span class="data-detail__value">{{ temp_val }}℃</span>
        </div>
        <el-progress :percentage="temp_per"></el-progress>
        <div class="data-detail__content">
          <span class="data-detail__percent">{{ temp_min }}</span>
          <span class="data-detail__percent">{{ temp_max }}</span>
        </div>
      </li>
      <li>
        <div class="data-detail__content">
          <span class="data-detail__label">
            <img src="@/assets/svg/data-ico2.svg" />
            습도
          </span>
          <span class="data-detail__value">{{ humidity_val }}%</span>
        </div>
        <el-progress :percentage="humidity_per"></el-progress>
        <div class="data-detail__content">
          <span class="data-detail__percent">{{ humidity_min }}</span>
          <span class="data-detail__percent">{{ humidity_max }}</span>
        </div>
      </li>
      <li>
        <div class="data-detail__content">
          <span class="data-detail__label">
            <img src="@/assets/svg/data-ico3.svg" />
            이산화탄소
          </span>
          <span class="data-detail__value">{{ co2_val }}ppm</span>
        </div>
        <el-progress :percentage="co2_per"></el-progress>
        <div class="data-detail__content">
          <span class="data-detail__percent">{{ co2_min }}</span>
          <span class="data-detail__percent">{{ co2_max }}</span>
        </div>
      </li>
      <li>
        <div class="data-detail__content">
          <span class="data-detail__label">
            <img src="@/assets/svg/data-ico4.svg" />
            조도
          </span>
          <span class="data-detail__value">{{ lux_val }}lux</span>
        </div>
        <el-progress :percentage="lux_per"></el-progress>
        <div class="data-detail__content">
          <span class="data-detail__percent">{{ lux_min }}</span>
          <span class="data-detail__percent">{{ lux_max }}</span>
        </div>
      </li>
      <li>
        <div class="data-detail__content">
          <span class="data-detail__label">
            <img src="@/assets/svg/data-ico5.svg" />
            pH
          </span>
          <span class="data-detail__value">{{ ph_val }}</span>
        </div>
        <el-progress :percentage="ph_per"></el-progress>
        <div class="data-detail__content">
          <span class="data-detail__percent">{{ ph_min }}</span>
          <span class="data-detail__percent">{{ ph_max }}</span>
        </div>
      </li>
      <li>
        <div class="data-detail__content">
          <span class="data-detail__label">
            <img src="@/assets/svg/data-ico6.svg" />
            전도도
          </span>
          <span class="data-detail__value">{{ ec_val }}mS/cm</span>
        </div>
        <el-progress :percentage="ec_per"></el-progress>
        <div class="data-detail__content">
          <span class="data-detail__percent">{{ ec_min }}</span>
          <span class="data-detail__percent">{{ ec_max }}</span>
        </div>
      </li>
      <li>
        <div class="data-detail__content">
          <span class="data-detail__label">
            <img src="@/assets/svg/data-ico6.svg" />
            토양온도
          </span>
          <span class="data-detail__value">{{ et_val }}℃</span>
        </div>
        <el-progress :percentage="et_per"></el-progress>
        <div class="data-detail__content">
          <span class="data-detail__percent">{{ et_min }}</span>
          <span class="data-detail__percent">{{ et_max }}</span>
        </div>
      </li>
      <li>
        <div class="data-detail__content">
          <span class="data-detail__label">
            <img src="@/assets/svg/data-ico6.svg" />
            토양습도
          </span>
          <span class="data-detail__value">{{ eh_val }}%</span>
        </div>
        <el-progress :percentage="eh_per"></el-progress>
        <div class="data-detail__content">
          <span class="data-detail__percent">{{ eh_min }}</span>
          <span class="data-detail__percent">{{ eh_max }}</span>
        </div>
      </li>
    </ul>
    <button @click="DataBack" class="back-button"><i class="el-icon-arrow-left"></i></button>
  </div>
</template>

<script>
const axios = require("axios").default;
export default {
  name: "DataDetail",
  components: {
    axios,
  },
  data() {
    return {
      options: [
        { value: "드림팜 큐브A", label: "드림팜 큐브A" },
        { value: "드림팜 큐브B", label: "드림팜 큐브B" },
      ],
      machine_id: this.$route.params.select_machine_id,
      select_machine_id: this.$route.params.select_machine_id,
      machine_name: "",
      machine_status: "",
      controller_id: "",
      sensor_type: "temp", // temp || humidity || co2 || lux || ph || ec
      show_type: "all", // part or all
      machineList: [],
      user_token: this.$cookies.get("user_token"),
      user_id: this.$cookies.get("user_id"),
      temp_val: 0,
      temp_per: 0,
      temp_min: 0,
      temp_max: 100,
      humidity_val: 0,
      humidity_per: 0,
      humidity_min: 0,
      humidity_max: 100,
      co2_val: 0,
      co2_per: 0,
      co2_min: 0,
      co2_max: 1000,
      lux_val: 0,
      lux_per: 0,
      lux_min: 0,
      lux_max: 1000,
      ph_val: 0,
      ph_per: 0,
      ph_min: 0,
      ph_max: 14,
      ec_val: 0,
      ec_per: 0,
      ec_min: 0,
      ec_max: 230,
      et_val: 0,
      et_per: 0,
      et_min: 0,
      et_max: 100,
      eh_val: 0,
      eh_per: 0,
      eh_min: 0,
      eh_max: 100,
      date: "",
    };
  },
  mounted() {
    this.machine_select();
  },
  methods: {
    machine_select() {
      let machine_data = {
        machine_id: this.machine_id,
      };

      let controller_data = {
        controller_id: this.controller_id,
      };

      let sensor_data = {
        controller_id: this.controller_id,
        sensor_type: this.sensor_type,
        show_type: this.show_type,
      };

      // controller - unit, sensor data   || start
      axios
        .post("http://52.79.223.31:8000/machine/info", JSON.stringify(machine_data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          this.controller_id = res.data[0].machine_pairing;
          this.machine_name = res.data[0].machine_name;
          controller_data.controller_id = res.data[0].machine_pairing;
          sensor_data.controller_id = res.data[0].machine_pairing;

          // 센서 정보 (온도 / 주)
          axios
            .post(
              "http://52.79.223.31:8000/controller/sensor_data_app",
              JSON.stringify(sensor_data),
              {
                headers: {
                  "Content-Type": `application/json`,
                },
              }
            )
            .then((res) => {
              this.date = res.data[0].reg_date;

              this.temp_val = res.data[0].reg_temperature;
              this.humidity_val = res.data[0].reg_humidity;
              this.co2_val = res.data[0].reg_co2;
              this.lux_val = res.data[0].reg_lux;
              this.ph_val = res.data[0].reg_ph;
              this.ec_val = res.data[0].reg_ec;
              this.et_val = res.data[0].reg_etemp;
              this.eh_val = res.data[0].reg_ehumi;

              this.temp_per = (res.data[0].reg_temperature / this.temp_max) * 100;
              this.humidity_per = (res.data[0].reg_humidity / this.humidity_max) * 100;
              this.co2_per = (res.data[0].reg_co2 / this.co2_max) * 100;
              this.lux_per = (res.data[0].reg_lux / this.lux_max) * 100;
              this.ph_per = (res.data[0].reg_ph / this.ph_max) * 100;
              this.ec_per = (res.data[0].reg_ec / this.ec_max) * 100;
              this.et_per = (res.data[0].reg_etemp / this.et_max) * 100;
              this.eh_per = (res.data[0].reg_ehumi / this.eh_max) * 100;
            })
            .catch((err) => console.error(err));
        })
        .catch((err) => console.error(err));

      // controller - unit, sensor data  || end
    },
    DataBack() {
      this.$router.push({ name: "Data", params: { select_machine_id: this.select_machine_id } });
    },
  },
};
</script>
