<template>
  <div class="contents">
    <div class="control-title__box">
      <span class="control-status">현재</span>
      <el-select v-model="machine_id" class="cube-select" @change="machine_select(machine_id)">
        <el-option
          v-for="machine in machineList"
          :key="machine.machine_id"
          :label="machine.machine_name"
          :value="machine.machine_id"
        >
        </el-option>
      </el-select>
      <div class="cube-state">
        큐브동작<el-switch
          v-model="this.machine_status"
          :active-value="1"
          :inactive-value="0"
          @change="chgMachineStatus()"
        />
      </div>

      <el-button @click="temperOption = !temperOption" class="tem-set__button"
        ><img src="~@/assets/svg/temp-button.png" alt="온도설정" />
      </el-button>
      <el-dialog
        title="온도제어"
        :visible.sync="temperOption"
        width="90%"
        :before-close="handleClose"
      >
        <table class="option-timer__table">
          <thead>
            <tr>
              <th>시작시간</th>
              <th>온도</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in tempList" :key="item.time">
              <td>
                {{ item.time }}
              </td>
              <td>
                <el-input-number
                  v-model="item.temp"
                  :min="0"
                  :max="40"
                  @change="handleTemperatureChange(item.time, item.temp)"
                ></el-input-number>
              </td>
            </tr>
          </tbody>
        </table>
        <div slot="footer" class="dialog-footer">
          <el-button @click="handleClose()">확인</el-button>
        </div>
      </el-dialog>
    </div>
    <!-- 제어 기능 리스트-->
    <ul class="control-function__list padding-layout">
      <li
        :class="{ active: unitGroup.group_auto_status }"
        v-for="unitGroup in unitGroupList"
        v-bind:key="unitGroup.group_id"
      >
        <div class="control-function__top">
          <el-dropdown trigger="click">
            <span class="el-dropdown-link">
              <i class="el-icon-more"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item class="clearfix">
                <!-- <router-link to="ControlDetail" @click="unit_detail()">세부제어</router-link> -->
                <button
                  @click="unit_detail(unitGroup.group_controller_id, unitGroup.group_id)"
                  class="control-button"
                >
                  세부제어
                </button>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
        <div class="control-function__bottom">
          <span class="control-function__title">{{ unitGroup.group_name }}</span>
          <div class="control-function__state">
            수동<el-switch
              v-model="unitGroup.group_auto_status"
              :active-value="1"
              :inactive-value="0"
              v-bind:disabled="machine_status == '0'"
              @change="
                chgStatus(
                  unitGroup.group_controller_id,
                  unitGroup.group_id,
                  unitGroup.group_auto_status
                )
              "
            />자동
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { Loading } from "element-ui";
const axios = require("axios").default;
export default {
  name: "index",
  components: {
    axios,
  },
  data() {
    return {
      machine_id: "",
      machineData: "",
      select_machine_id: this.$route.params.select_machine_id,
      machine_status: "",
      controller_id: "",
      machineList: [],
      user_token: this.$cookies.get("user_token"),
      user_id: this.$cookies.get("user_id"),
      unitList_temp: [],
      unitList: [],
      unitGroupList: [],
      temperOption: false,
      startTime: null,
      endTime: null,
      temperature: null,
      startMinute: null,
      tempList: [],
      tempInterval: null,
      statusData: "",
      fullscreenLoading: false,
    };
  },
  destroyed() {
    this.stopTempReadInterval(); // 컴포넌트 파괴 시 타이머 정리
    this.stopgroupReadInterval();
  },
  mounted() {
    // machine data list  || start
    let data = {
      user_id: this.user_id,
    };
    axios
      .post("http://52.79.223.31:8000/machine/list", data, {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      .then((res) => {
        this.machineList = res.data;
        if (this.select_machine_id) {
          this.machine_select_restart();
        }
      })
      .catch((err) => console.error(err));
  },
  methods: {
    openFullScreen() {
      const loading = this.$loading({
        lock: true,
        text: "Loading",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      setTimeout(() => {
        loading.close();
      }, 3000);
    },
    startTempReadInterval() {
      this.tempReadInterval = setInterval(() => {
        this.tempRead();
      }, 2000);
    },
    startgroupReadInterval() {
      this.groupReadInterval = setInterval(() => {
        this.groupRead();
      }, 2000);
    },

    stopTempReadInterval() {
      clearInterval(this.tempReadInterval);
    },
    stopgroupReadInterval() {
      clearInterval(this.groupReadInterval);
    },
    handleTemperatureChange(time, temp) {
      axios.post("http://52.79.223.31:8000/unit/update_device_temp", {
        controller_id_in: this.controller_id,
        time_in: time.toString(),
        temp: temp,
      });
    },
    tempRead() {
      axios
        .post("http://52.79.223.31:8000/unit/read_device_temp", {
          controller_id_in: this.controller_id,
        })
        .then((res) => {
          this.tempList = res.data;
        })
        .catch((err) => console.error(err));
    },
    showDialog() {
      this.temperOption = true;
    },
    handleClose() {
      this.temperOption = false;
    },
    machine_select(machineId) {
      this.stopgroupReadInterval();
      this.stopTempReadInterval();
      console.log(machineId);
      // 이전에 설정된 setInterval 제거
      this.openFullScreen();

      console.log("1");
      let machine_data = {
        machine_id: machineId,
      };
      axios
        .post("http://52.79.223.31:8000/machine/info", JSON.stringify(machine_data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          this.machineData = res.data[0];
          this.controller_id = this.machineData.machine_pairing;
          this.select_machine_id = machineId;
          console.log(this.controller_id);
          this.machineData = "";
        })
        .catch((err) => console.error(err));
      this.select_machine_id = machineId;
      this.startTempReadInterval();
      this.startgroupReadInterval();
    },
    machine_select_restart() {
      this.stopgroupReadInterval();
      this.stopTempReadInterval();
      // 이전에 설정된 setInterval 제거

      this.openFullScreen();

      console.log("2");
      let machine_data = {
        machine_id: this.select_machine_id,
      };
      axios
        .post("http://52.79.223.31:8000/machine/info", JSON.stringify(machine_data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          this.machineData = res.data[0];
          this.controller_id = this.machineData.machine_pairing;
          this.machine_id = this.select_machine_id;
          this.machineData = "";
          console.log(this.controller_id);
        })
        .catch((err) => console.error(err));
      this.startTempReadInterval();
      this.startgroupReadInterval();
    },
    groupRead() {
      let controller_data = {
        controller_id: this.controller_id,
      };
      axios
        .post("http://52.79.223.31:8000/unit/unit_group_data", JSON.stringify(controller_data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          this.unitGroupList = res.data;
          this.statusData = res.data[0];
          this.machine_status = this.statusData.machine_status;
        })
        .catch((err) => console.error(err));
    },
    chgMachineStatus() {
      let data = {
        machine_id: this.machine_id,
        machine_status: this.machine_status,
      };

      axios
        .post("http://52.79.223.31:8000/machine/change_status", JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          if (res.data[0].result == "1") {
            this.$message({
              message: "변경되었습니다.",
              type: "success",
            });
          } else {
            this.$message.error("새로고침 후 다시 시도해주세요.");
          }
        })
        .catch((err) => console.error(err));
    },

    chgStatus(id, unit_id, val) {
      let data = {
        group_controller_id: id,
        group_id: unit_id,
        group_auto_status: val,
      };
      axios
        .post("http://52.79.223.31:8000/unit/unit_group_change_auto_status", JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          if (res.data[0].result == "1") {
            console.log("성공");
          } else {
            console.log("실패");
          }
        })
        .catch((err) => console.error(err));
    },

    unit_detail(controller_id, group_id) {
      this.$router.push({
        name: "ControlDetail",
        params: {
          controller_id: controller_id,
          unit_group_id: group_id,
          select_machine_id: this.select_machine_id,
        },
      });
    },
  },
};
</script>
