<template>
  <div class="login-form__container">
    <div class="login-form__box">
      <h1 class="login-form--logo"><img src="@/assets/svg/logo-ico.svg" /></h1>
      <p class="login-form__title">안녕하세요.<br />드림팜입니다.</p>
      <p class="login-form__text">서비스 이용을 위해 로그인 해주세요.</p>
      <form class="login-form">
        <input type="text" name="user_id" id="id" placeholder="id" v-model="user_id" />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
          v-model="password"
        />
      </form>
    </div>
    <button class="login-form__button" @click="loginSubmit()">로그인하기</button>
  </div>
</template>

<script>
const axios = require("axios").default;
export default {
  name: "login",
  components: {
    axios,
  },
  data() {
    return {
      user_token: "",
    };
  },
  mounted() {
    this.checkUserIDCookie();
  },

  methods: {
    loginSubmit() {
      let data = {
        user_id: this.user_id,
        user_password: this.password,
      };
      axios
        .post("http://master.dreampf.net/user/login", JSON.stringify(data), {
          headers: {
            accept: "application/json",
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          if (res.data[0].result) {
            this.$cookies.set("user_token", res.data[0].result);
            this.$cookies.set("user_id", res.data[0].user_id);
            setTimeout(() => {
              this.deleteCookie("user_token");
              this.deleteCookie("user_id");
            }, 3600000); // 1시간 대기
            this.$router.push({ name: "index" });
          } else {
            alert("등록된 사용자 정보가 아닙니다.");
          }
        });
    },
    deleteCookie(name) {
      this.$cookies.remove(name);
    },
    checkUserIDCookie() {
      const userID = this.$cookies.get("user_id");
      if (userID) {
        this.$router.push("/index");
      }
    },
  },
};
</script>
