<template>
  <div class="contents">
    <div class="padding-layout">
      <p class="page-title">설정</p>
      <div class="setting-box flex">
        <span class="avatar"><i class="el-icon-user"></i></span>
        <div class="user-data__box" v-for="user_Data in user_data">
          <p class="user-number">{{ user_Data.user_phone }}</p>
          <p class="user-email">{{ user_Data.user_email }}</p>
        </div>
        <p class="user-name">
          <button @click="logout()">로그아웃</button>
        </p>
      </div>
      <!-- <div class="setting-box">
        <ul class="setting-option__list">
          <li>
            <router-link to="">설정 옵션1</router-link>
            <i class="el-icon-arrow-right"></i>
          </li>
          <li>
            <router-link to="">설정 옵션2</router-link>
            <i class="el-icon-arrow-right"></i>
          </li>
          <li>
            <router-link to="">설정 옵션3</router-link>
            <i class="el-icon-arrow-right"></i>
          </li>
          <li>
            <router-link to="">설정 옵션4</router-link>
            <i class="el-icon-arrow-right"></i>
          </li>
          <li>
            <router-link to="">설정 옵션5</router-link>
            <i class="el-icon-arrow-right"></i>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Setting",
  components: {},
  data() {
    return {
      user_data: [],
      user_id: this.$cookies.get("user_id"),
      user_token: this.$cookies.get("user_token"),
    };
  },
  mounted() {
    this.userlist();
  },
  methods: {
    userlist() {
      let data = {
        user_id: this.user_id,
      };
      console.log(this.user_id);
      axios
        .post("http://52.79.223.31:8000/user/user_data", JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          this.user_data = res.data;
          console.log(this.user_data);
        })
        .catch((err) => console.error(err));
    },
    logout() {
      this.$cookies.remove("user_id");
      this.$cookies.remove("user_token");
      this.$cookies.remove("machine_name");
      this.$router.push({ name: "login" });
    },
  },
};
</script>

<style></style>
