<template>
  <div class="footer">
    <ul class="footer-menu__list">
      <li :class="{ active: $route.name == 'CubeManage' }">
        <router-link :to="{ name: 'index' }">
          <img src="@/assets/svg/footer-ico1.svg" alt="" />
          제어
        </router-link>
      </li>
      <li :class="{ active: $route.name == 'Data' }">
        <router-link :to="{ name: 'Data' }">
          <img src="@/assets/svg/footer-ico2.svg" alt="" />
          데이터
        </router-link>
      </li>
      <li :class="{ active: $route.name == 'Setting' }">
        <router-link :to="{ name: 'Setting' }">
          <img src="@/assets/svg/footer-ico3.svg" alt="" />
          설정
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
