<template>
  <div class="header">
    <img src="~@/assets/svg/logo.svg" alt="로고" />
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
