@charset "utf-8";

/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'S-CoreDream-3Light';
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a,
button {
  cursor: pointer;
}


/* 적응형 480size 고정 */
html {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

/* header */
.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 105px;
  padding: 0 35px;
  background: #fff;
  z-index: 50;
}

.back-button {
  position:fixed;
  right:30px;
  top:30px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: #DEDEDE;
  border: none;
  font-size: 20px;
  color: #fff;
  border-radius: 100%;
}

/* footer */
.footer {
  position: fixed;
  width: 100%;
  height: 65px;
  bottom: 0;
  z-index: 10000;
  max-width: 480px;
}

.footer-menu__list {
  display: flex;
  width: 100%;
  height: 100%;
}

.footer-menu__list li {
  width: calc(100% / 3);
  height: 100%;
  background: #285527;
}

.footer-menu__list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}

.footer-menu__list li img {
  margin-right: 10px;
}

.footer-menu__list li.active {
  background: #1D3E1D;
}


/* contents*/
.contents {
  background: #f7f7f7;
  padding-top: 105px;
  padding-bottom: 65px;
  min-height: 100vh;
}

.padding-layout {
  padding: 30px;
}

/* element-ui default*/
.el-switch.is-checked .el-switch__core {
  background: #285527;
  border-color: #285527;
}

.el-input__inner {
  font-family: "Noto Sans KR";
}

.el-select-dropdown {
  width: 300px;
}

.el-select-dropdown {
  position: fixed !important;
  width: 80%;
  top: 185px !important;
  left: 50% !important;
  transform: translateX(-50%);
  border-radius: 10px;
}

.el-select-dropdown__list {
  padding: 0 20px;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background: none;
}

.el-select-dropdown__item {
  border-bottom: 1px solid rgba(112, 112, 112, 0.25);
  padding: 15px 0;
  height: auto;
}

.el-select-dropdown__item:last-child {
  border-bottom: none;
}

.el-select-dropdown__item span {
  font-size: 15px;
}

.el-select-dropdown__item::after {
  position: absolute;
  content: '';
  right: 0;
  width: 25px;
  height: 25px;
  background: url('@/assets/svg/select-arrow.svg')no-repeat center 10px #e7e7e7;
  border-radius: 100px;
  transform: rotate(-90deg);
}

.el-popper .popper__arrow {
  left: 50% !important;
}

/* 로그인 페이지 */
.login-form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.login-form__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 140px 60px 0 60px;
}

.login-form--logo {
  margin-bottom: 30px;
}

.login-form__title {
  font-size: 30px;
  color: #0B182E;
  margin-bottom: 20px;
  text-align: left;
  line-height: 40px;
  font-weight: bold;
}

.login-form__text {
  font-size: 19px;
  color: #676767;
  font-weight: bold;
}

.login-form {
  margin-top: 80px;
}

.login-form input {
  display: block;
  width: 315px;
  height: 60px;
  border: 1px solid #8D8D8D;
  border-radius: 100px;
  margin: 15px 0;
  padding: 0 30px;
  font-size: 18px;
  color: #989898;
}

.login-form__button {
  display: block;
  width: 100%;
  height: 80px;
  background: #285527;
  font-size: 20px;
  color: #fff;
  border: none;
}

/* 제어 */
.control-title__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 95px;
  background: #fff;
  border-top: 1px solid #E4E4E4;
  padding:0 20px;
}

.control-title__box.bg-none {
  background: none;
}

.control-title__box.bg-none .el-input__inner {
  background: none;
}

.control-title__box .control-status {
  display: block;
  padding: 5px 15px;
  border-radius: 100px;
  font-size: 15px;
  color: #fff;
  background: #6E921D;
  margin-right: 15px;
}

.control-function__state {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 17px;
  color: #636a63;
  margin-top: 10px;
}

.control-function__state .el-switch {
  margin: 0 10px;
}

.cube-state {
  display: flex;
  align-items: center;
  font-family: "Noto Sans KR";
  font-weight: bold;
}

.tem-set__button{
  border:1px solid #285527;
  padding:5px 25px;
  background:#fff;
  border-radius: 15px;
}

.cube-state .el-switch {
  margin: 0 5px;
}

.cube-select {
  width: auto;
  max-width: 170px;
}

.cube-select .el-input {
  display: flex;
  align-items: center;
}

.cube-select .el-input__suffix {
  position: relative;
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: #e7e7e7;
}

.cube-select .el-input__inner {
  font-size: 23px;
  font-weight: bold;
  color: #000;
  border: none;
  padding: 0;
}

.cube-select .el-icon-arrow-up:before {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.control-function__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.control-function__list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
  height: auto;
  min-height: 120px;
  background: #E6EBE6;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.control-function__list li.active {
  background: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.control-function__top,
.control-function__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.control-function__top::before {
  display: block;
  content: '';
  width: 25px;
  height: 25px;
}

.control-function__list li:nth-child(1) .control-function__top::before {
  background: url('~@/assets/svg/fuction-ico1.svg')no-repeat center;
}

.control-function__list li:nth-child(2) .control-function__top::before {
  background: url('~@/assets/svg/fuction-ico2.svg')no-repeat center;
}

.control-function__list li:nth-child(3) .control-function__top::before {
  background: url('~@/assets/svg/fuction-ico3.svg')no-repeat center;
}

.control-function__list li:nth-child(4) .control-function__top::before {
  background: url('~@/assets/svg/fuction-ico4.svg')no-repeat center;
}

.control-function__list li:nth-child(5) .control-function__top::before {
  background: url('~@/assets/svg/fuction-ico5.svg')no-repeat center;
}

.control-function__list li:nth-child(6) .control-function__top::before {
  background: url('~@/assets/svg/fuction-ico6.svg')no-repeat center;
}

.control-function__list li:nth-child(7) .control-function__top::before {
  background: url('~@/assets/svg/fuction-ico7.svg')no-repeat center;
}

.control-function__list li:nth-child(8) .control-function__top::before {
  background: url('~@/assets/svg/fuction-ico8.svg')no-repeat center;
}

.control-function__list li:nth-child(9) .control-function__top::before {
  background: url('~@/assets/svg/fuction-ico9.svg')no-repeat center;
}

.control-function__list li:nth-child(10) .control-function__top::before {
  background: url('~@/assets/svg/fuction-ico10.svg')no-repeat center;
}

.control-function__list li:nth-child(11) .control-function__top::before {
  background: url('~@/assets/svg/fuction-ico10.svg')no-repeat center;
}

.control-function__top .el-icon-more {
  transform: rotate(90deg);
}

.control-function__title {
  font-size: 17px;
  font-weight: bold;
  color: #717171;
}

.timerset-td__style{
  display:flex;
  align-items: center;
}

.timerset-td__style span{
  font-size: 20px;
  padding:0 2px;
}

/* 세부제어 */
.data-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-radius: 100px;
  background: #fff;
  padding: 0 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.data-list__name {
  font-size: 17px;
  font-weight: bold;
  color: #30313B;
}

.data-list__state {
  font-family: "Noto Sans KR";
  font-size: 17px;
  font-weight: bold;
  color: #1D3E1D;
  transition: 0.3s;
  width: 50%;
  text-align: left;
}

.data-list__state .el-switch {
  margin: 0 10px;
}

.data-list__state .el-button {
  padding: 8px 10px;
}

.data-list__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.data-list__box span {
  font-family: "Noto Sans KR";
}

.control-button {
  background: none;
  border: none;
  font-weight: bold;
  color: #285527;
  font-size: 15px;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background: #fff;
}

/* 설정 */
.page-title {
  font-size: 24px;
  font-weight: bold;
  color: #4A4A4A;
  text-align: left;
  margin-bottom: 20px;
}

.setting-box {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.setting-box.flex {
  display: flex;
}

.setting-option__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D6D6D6;
  padding: 15px 0;
}

.setting-option__list li:first-child {
  padding-top: 0;
}

.setting-option__list li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.setting-option__list a {
  font-family: "Noto Sans KR";
  width: 100%;
  text-align: left;
  font-size: 19px;
  padding: 0 25px;
}

.setting-option__list i {
  font-size: 20px;
  font-weight: bold;
  color: #D9D9D9;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #F0F0F0;
  border-radius: 100px;
  font-size: 30px;
  color: #9B9B9B;
}

.user-data__box {
  width: calc(100% - 60px);
  padding-left: 25px;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 25px;
  color: #4A4A4A;
  text-align: left;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 20px;
}

.setting-box button {
  padding: 10px 15px;
  border: none;
  background: #285527;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  font-family: "Noto Sans KR";
  border-radius: 5px;
}

.user-number {
  font-family: "Noto Sans KR";
  font-size: 19px;
  color: #616161;
  margin: 15px 0;
  text-align: left;
}

.user-email {
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: #616161;
  text-align: left;
}

/* 데이터 */
.data-tab {
  display: flex;
  flex-direction: column-reverse;
}

.data-tab .el-tabs__nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
}

.data-tab .el-tabs__active-bar {
  display: none;
}

.data-tab .el-tabs__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 23%;
  background: #fff;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.data-tab .el-tabs__item img {
  display: block;
  margin: 0 auto;
}

.data-tab .el-tabs__item img:nth-child(2),
.data-tab .el-tabs__item.is-active img:nth-child(1) {
  display: none;
}

.data-tab .el-tabs__item.is-active img:nth-child(2) {
  display: block;
}

.data-tab .el-tabs__item span {
  font-size: 17px;
  color: #8D8D8D;
  margin-top: 15px;
}

.data-tab .el-tabs__item.is-active {
  background: #6E921D;
}

.data-tab .el-tabs__item.is-active span {
  color: #fff;
}

.data-tab .el-tabs__nav-wrap::after {
  display: none;
}

.more-button {
  position: relative;
  top: -20px;
  display: block;
  margin: 0 auto;
  width: 120px;
  line-height: 40px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-weight: bold;
  color: #30313B;
}

/* 데이터 세부 */
.data-detail__list {
  padding: 25px
}

.data-detail__list li {
  background: #fff;
  border-bottom: 15px;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
}

.data-detail__content {
  display: flex;
  justify-content: space-between;
}

.data-detail__label {
  font-size: 18px;
  font-weight: bold;
  color: #4A4A4A;
}

.data-detail__label img {
  width: 20%;
  vertical-align: sub;
  margin-right: 15px;
}

.data-detail__value {
  font-size: 20px;
  color: #3C3C3C;
}

.data-detail__list .el-progress-bar {
  margin: 0;
  padding: 0;
  margin: 15px 0;
}

.data-detail__list .el-progress__text {
  display: none;
}

.data-detail__list .el-progress-bar__inner {
  background: #6E921D;
}

.data-detail__percent {
  font-size: 15px;
  color: #B4B4B4;
}

.apexcharts-radialbar-slice-0 {
  stroke: #7CA376;
  stroke-width: 90;
}

.apexcharts-radialbar-area {
  stroke-width: 90;
}

.chart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 190px;
  height: 190px;
  border-radius: 100%;
  background: #fff;
}

.chart-title {
  display: flex;
  align-items: center;
  font-family: "Noto Sans KR";
  color: #969696;
}

.chart-title img {
  margin-right: 5px;
  width: 25%;
}

.chart-value {
  font-weight: bold;
  font-size: 45px;
  margin: 15px 0;
}

.chart-value .data-type {
  vertical-align: top;
  font-size: 20px;
  font-weight: 300;
  color: #969696;
}

/* 시간 설정*/
.control-add__button {
  float: right;
  margin-bottom: 10px;
}
.option-timer__table{
  width:100%;
  border:1px solid #e3e3e3;
}

.option-timer__table tr {
  border-bottom: 1px solid #e3e3e3;
}

.option-timer__table th {
  padding: 10px 0;
  background: #f5f5f5;
}

.option-timer__table td {
  padding: 5px;
  text-align: center;
}

.option-timer__table .el-date-editor {
  margin: 0 5px;
}

.el-message {
  top: 100px !important;
  z-index: 20000 !important
}

.option-timer__table
.el-date-editor.el-input, 
.option-timer__table
.el-date-editor.el-input__inner{
  width:100px
}